<p><%= @quotation.person.forename %> <%= @quotation.person.surname %> thank you for requesting a quotation.</p>

<p>=================================================</p>

<p>Your quotation premium is £<%= @quotation.premium %>.</p>

<p>To access your quote again please use your email with the following code:  </p>

<p><%= @quotation.code%></p>

<p>DTC Insurance Underwriter - <i>Where money goes</i> </p>