<%= @quotation.person.forename %> <%= @quotation.person.surname %> thank you for requesting a quotation.

Your quotation premium is £<%= @quotation.premium %>.
To access your quote again please use your email with the following code:

<h4><%= @quotation.code%></h4>